.row {
  margin-bottom: 1rem;
}

input[type="file" i]::-webkit-file-upload-button {
  background-color: #33C3F0;
  border: 1px solid #33C3F0;
  color: #FFF;
  font-family: 'raleway';
  cursor: pointer;
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 4px;
  outline: none;
}

input[type="file" i]::-webkit-file-upload-button:hover {
  background-color: #1EAEDB;
  border-color: #1EAEDB;
}

.submit-button {
  font-size: 13px !important;
  height: 44px !important;
  line-height: 44px !important;
}
