
{% extends "base.html" %}
{% load static %}
{% block content %}
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCuJZ03qG-JPKF63Qrw9sMMlIuMoPXVQ-k"></script>
  <script src="{% static 'js/zikasubmitmap.js' %}"></script>
  <div class="row">
      <div class="one-half column">
        <h4>List of submissions</h4>
        <ul>
          {% for sub in submissions %}
          <li data-item="entry" data-lat="{{ sub.lat }}" data-lng="{{ sub.lng }}"><a href="{% url 'submission_details' sub.pk %}">{{ sub.label }}</a></li>
          {% endfor %}
        </ul>
    </div>
    <div class="one-half column">
        <div id="bigmap" class="zikaSubmitMap" style="min-height: 300px; margin-bottom:1.5rem; background-color: whitesmoke; display: flex; align-items: center; justify-content: center;" readonly></div>
    </div>
  </div>

<a href='submissionForm/'>Submit Samples</a>
{% endblock %}
