
{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="row">
      <div class="one-half column" style="margin-top: 25%">
        <h4>List of submissions</h4>
        <ul>
          {% for sub in submissions %}
            <li>{{ sub.label }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>

<a href='submissionForm/'>Submit Samples</a>
{% endblock %}

{% block bottom_js %}
  <link rel="stylesheet" href="{% static 'css/flatpickr.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/flatpickr.material_blue.min.css' %}">
  <script src="{% static 'js/flatpickr.min.js' %}"></script>
{% endblock %}