{% extends "base.html" %}
{% load static %}
{% block content %}
    <h5>Submit a new sample file (tar.gz format)</h5>
    <form enctype="multipart/form-data" name="submissionForm" method="post" action=".">
      {% csrf_token %}
      <div class="row">
        <div class="six columns">
          <label for="{{ form.label.id_for_label }}">Label</label>
          <input class="u-full-width" id="id_label" maxlength="100" name="label" type="text" required="" />
        </div>
      </div>
      <div class="row">
        <div class="three columns">
          <label for="{{ form.datetime.id_for_datetime }}">Collection date</label>
          <input class="u-full-width flatpickr-input active" id="id_datetime" name="datetime" type="text" required="" readonly="readonly" />
        </div>
      </div>
      <div class="row">
        <div class="six columns">
          <span style="display: block; margin-bottom: 5px; font-weight: 600;">Location</span>
          <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCuJZ03qG-JPKF63Qrw9sMMlIuMoPXVQ-k"></script>
          <script src="{% static 'js/zikasubmitmap.js' %}"></script>
          <script src="{% static 'js/submissionui.js' %}"></script>
        </div>
      </div>
      <div class="row">
        <div class="six columns">
          <div class="zikaSubmitMap" style="min-height: 300px; margin-bottom:1.5rem; background-color: whitesmoke; display: flex;">
            <span>MAP PLACEHOLDER</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="three columns">
          <label for="{{ form.lat.id_for_label }}">Lat</label>
          <input class="u-full-width" id="id_lat" name="lat" step="any" type="number" required="" />
        </div>
        <div class="three columns">
          <label for="{{ form.long.id_for_label }}">Long</label>
          <input class="u-full-width" id="id_long" name="long" step="any" type="number" required="" />
        </div>
      </div>
      <div class="row">
        <div class="six columns">
          {{ form.submission_file }}
        </div>
      </div>
      <div class="row">
        <div class="six columns">
          <input class="u-full-width submit-button" type="submit" value="Submit sample" />
        </div>
      </div>
    </form>
{% endblock %}


{% block bottom_js %}
  <link rel="stylesheet" href="{% static 'css/flatpickr.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/flatpickr.material_blue.min.css' %}">
  <script src="{% static 'js/flatpickr.min.js' %}"></script>
  <script>
    var dateField = document.getElementById('id_datetime');
    var fp = new Flatpickr(dateField, []);
  </script>
{% endblock %}
